/* eduinfo_detail - CSS */

.screen {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 0.625rem; /* 10px */

  @media (max-width: 430px) {
    align-items: start;
  }
  @media (min-width: 431px) {
    align-items: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 26.875rem; /* 430px */
  align-items: center;
  background-color: #FFF;
  padding-bottom: 0.625rem; /* 10px */
}

.body {
  display: flex;
  width: 25rem; /* 400px */
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  width: 100%;
  height: 2rem; /* 32px */
  flex-direction: row;
  padding-top: 3.5rem; /* 56px */
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  width: 22.5rem; /* 360px */

  border-radius: 0.625rem; /* 10px */
  background-color: #FAFAFA;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.row1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.row_100 {
  display: flex;
  width: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.context {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.btn_ask {
  display: flex;
  width: 20rem; /* 320px */
  padding: 1rem; /* 16px */
  justify-content: center;
  align-items: center;

  border: 1px solid #000;
  border-radius: 30px;
  background-color: #1E3D46;
}

.btn_ask2 {
  display: flex;
  width: 20rem; /* 320px */
  padding: 1rem; /* 16px */
  justify-content: center;
  align-items: center;

  border: 1px solid #FFF;
  border-radius: 30px;
  background-color: #DB7373;
}


.text_board {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.5rem; /* 8px */
}

.wrapping {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  background-color: rgba(232, 232, 232, 0.70);
}

.toast {
  display: flex;
  width: 400px;
  height: 200px;
  position: absolute;
  z-index: 50;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: #FFF;
}




/* 폰트 설정 */

.title_text {
  font-family: "noto Sans KR";
  font-size: 1.5rem; /* 24px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title_text2 {
  font-family: "noto Sans KR";
  font-size: 1.25rem; /* 20px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 100%; /* 최대 너비 설정 */
  word-wrap: break-word;
}

.context_text {
  font-family: Pretendard;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.context_text2 {
  font-family: Pretendard;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.context_text3 {
  font-family: Pretendard;
  font-size: 1.25rem; /* 20px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 24px */
}


.modalpopup_frame {
  display: flex;
  width: 400px;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: #FFF;
}

.modalpopup_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 1rem 0rem;
  gap: 0.25rem; /* 4px */

  border: 1px solid #28464E;
  border-radius: 0.5rem; /* 8px */
}

.text3 {
  font-family: Pretendard;
  font-size: 1.25rem; /* 20px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text4 {
  font-family: Pretendard;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text5 {
  font-family: Pretendard;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}




.length_limit {
  max-width: 100%;
  word-wrap: break-word;
}


/* 색상 설정 */

.color_28 {
  color: #28464E;
}

.color_17 {
  color: #17363F;
}

.color_61 {
  color: #616161;
}

.color_FF {
  color: #FFF;
}

.color_9D {
  color: #9D9D9D;
}

input:focus-visible {
  outline: none;
}