.screen {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 0.625rem; /* 10px */

  @media (max-width: 430px) {
    align-items: start;
  }
  @media (min-width: 431px) {
    align-items: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 26.875rem; /* 430px */
  align-items: center;
  background-color: #FFF;
}

.body {
  display: flex;
  width: 25rem; /* 400px */
  flex-direction: column;
  justify-content: center;
  gap: 1rem; /* 16px */
}

.nav {
  display: flex;
  width: 100%;
  height: 2rem; /* 32px */
  flex-direction: row;
  padding-top: 3.5rem; /* 56px */
  justify-content: space-between;
  align-items: center;
}

.intro {
  display: flex;
  color: #1E3D46;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 363px;
  padding-bottom: 15px;
}

.left {
  display: flex;
}

.right {
  display: flex;
}

.signup-main {
  color: #28464E;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 30px;
}
.box3{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap:10px;
}
.box3_1{
  display: flex;
  width: 100px;
  height: 30px;
  /* padding: 12px 47px; */
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  border-radius: 30px;
  border: 1px solid #D9D9D9;
  background: #17363F;
  color: #FFF;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.box3_2{
  display: flex;
  width: 100px;
  height: 30px;
  /* padding: 12px 47px; */
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  border-radius: 30px;
  border: 1px solid #D9D9D9;
  color: #9D9D9D;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.box3_3{
  display: flex;
  width: 100px;
  height: 30px;
  /* padding: 12px 47px; */
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  border-radius: 30px;
  border: 1px solid #D9D9D9;
  color: #9D9D9D;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.cate2,.title_,.start_,.end_,.company_,.area_,.image_,.tag_,.comment_{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #17363F;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 0px 10px 0px;

}
.title,.start,.end,.company,.area,.image,.tag,.comment{
  display: flex;
  width: 305px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #DBDBDB;
  background: #FAFAFA;
  padding: 3px 6px 3px 6px;
  margin-top: 5px;
}
.submitbutton{
  display: flex;
  width: 325px;
  height: 50px;
  padding: 5px 0px 5px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #000;
  background: #1E3D46;
  color: #FFF;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  margin-bottom: 20px;
}
.click{
  position: absolute;
  transform: translate(275px,100px);
}

input:focus-visible {
  outline: none;
}