{% extends 'base_with_nav.html' %} {% load static %} {% block content %}

<link
rel="stylesheet"
type="text/css"
href="{% static 'css/users/ciapply.css'%}"
/>

<div class="screen">
  <div class="main">
    <div class="body">

        <div class="nav">
            <div class="left" style="z-index: 1;">
                <a href="{% url 'main:mainpage' %}">
        <img src="{% static 'images/arrow-24.png' %}" width='32px' height='32px'>
                </a>
            </div>
            <div><p class="color_28 title_text" style="text-align: center;">커리어 신청 현황</p></div>
            <div style="width: 32px;"></div>
        </div>


        <div class="active">
            <div class='act3'>
            <a class="active3" href="{% url 'users:ciapply' %}">채용</a><div class='line3'></div>
            </div>
            <div class='act1'>
            <a class="active1" href="{% url 'users:cpapply' %}">취업 프로그램</a><div class='line1'></div>
            </div>
            <div class='act2'>
            <a class="active2" href="{% url 'users:eiapply' %}">교육</a><div class='line2'></div>
            </div>
        </div>
        
        <div class="application">
            {% for application in ci_apply %}
                <a class='detail' href="{% url 'careers:careerinfo-detail' application.careerinfo.id %}">
                    {% comment %} area에 템플릿 언어 넣어야함 {% endcomment %}
                    <div class='areadate'>
                        <div class='area'>{{ application.field }}</div>
                        <div class='date'>{{ application.application_date|date:"Y/m/d" }}</div>                            
                    </div>
                    <div class='place'>{{ application.careerinfo.company }}</div>
                    <div class='title'>{{ application.careerinfo.title }}</div>
                    <div class='line'></div>
                </a>
            {% endfor %}
        
        </div>
    </div>
  </div>
</div>
{% endblock %}
