{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>커리어 신청 현황</h1>
    <div class="tab-menu">
        <a href="{% url 'users:ciapply' %}" class="active">채용</a>
        <a href="{% url 'users:cpapply' %}">취업 </a>
        <a href="{% url 'users:eiapply' %}">교육</a>
    </div>
    <ul class="application-list">
        {% for application in ci_apply %}
        <li class="application-item">
            <a href="{% url 'careers:careerinfo-detail' application.careerinfo.id %}">
                
                <div class="application-details">
                    <h2>{{ application.careerinfo.title }}</h2>
                    <p>{{ application.careerinfo.company }}</p>
                    <div class="tags">
                        {% for tag in application.careerinfo.careerinfotags.all %}
                        <span class="tag">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    <p class="application-date">{{ application.application_date|date:"Y/m/d" }}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
