{% extends 'base.html' %}

{% block content %}
<form action="{% url 'users:mentoring-state' user.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>나에게 신청한 멘티들</h1>

    {% for m in menti %}
        {{m.mentor.id}}<br>
        {{m.mentor.user.profile.user_name}}<br>
        {{m.mentor.user.username}}<br>
        {{m.mentor.user.profile.user_major}}<br>
        {{m.summary}}<br>
        {{m.content}}<br>
        <input type="hidden" name="mentorship_id" value="{{ m.id }}">
        <p><button type="submit" name="state" value="수락">수락</button></p>
        <p><button type="submit" name="state" value="거절">거절</button></p>
    {% endfor %}
</form>
{% endblock %}
