{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>수정중...</h2>
<form action="{% url 'users:update_profile' user.id %}" method="POST">
    {% csrf_token %}
    <p>이름 : <input type="text" name="user_name" value="{{profile.user_name}}"></p>
    <p>전화번호 : <input type="text" name="user_phone" value="{{profile.user_phone}}"></p>

    <p>생년월일 : <input type="text" name="user_birth" value="{{profile.user_profile}}"></p>
    <p>전공 : <input type="text" name="user_major" value="{{profile.user_major}}"></p>
    <p>재학 여부 : <input type="text" name="user_enroll" value="{{profile.user_enroll}}"></p>
    {% if post.image %}
        <p><img src="{{ profile.user_profile.url }}" alt="프로필사진" width="100px"></p>
    {% endif %}
    <p>사진 : <input type="file" name="user_profile"></p>
    <button type="submit">제출</button>
</form>

{% endblock %}