{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/signup3.css' %}" />
<div class="container"> 
  <div class='container2'>
    <div class='container3'>
      <div class='imagesmask' style="padding-top: 48px;">
        <div class="left"></div>
        <div class="middle">
          <h2 class='signup-main'>회원가입</h2>
        </div>
        <div class='right'></div>
      </div>
      <div class='finish'>
        <div class='finish1'>
          <div class='finish1_1'>회원가입 완성도</div><div class='finish1_2' id='finish1_2'>100%</div>
        </div>
        <div class='linefinish'><div class='linefinish2' id='linefinish2'></div></div>
      </div>
      <form action="{% url 'accounts:signup3' %}" method="post" id='signup-form'>
        {% csrf_token %}
        <div class='inputlist'>
          <div class='realname1'>
            <label class='user' for='user_name'>이름</label>
            <input class='same' placeholder="이름 입력" type='text' name='user_name' id='user_name' required />
            <div class='inputlist_text'>이름을 정확하게 입력해주세요</div>
          </div>
          <div class='birth1'>
            <label class='user' for='user_birth'>생년월일</label>
            <input class='same' placeholder="YYYYMMDD" type='text' name='user_birth' id='user_birth' required />
            <div class='inputlist_text'>생년월일을 숫자만 입력해주세요</div>
          </div>
          <div class='phone1'>
            <label class='user' for='user_phone'>휴대폰 번호</label>
            <input class='same' placeholder="'-' 제외하고 숫자만 입력" type='text' name='user_phone' id='user_phone' required />
            <div class='inputlist_text'>휴대폰 번호를 13자리 숫자만 입력해주세요</div>
          </div>
          <div class='submitcenter'>
            <button class='submit2' type='submit' id='submit'>완료</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
