.container {
display: flex;
flex-direction: column;
width: 100%;
gap: 10px;

@media (max-width: 430px) {
    align-items: start;
}
@media (min-width: 431px) {
    align-items: center;
} 
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    background: #FFF;
}

.inputlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
}

.signup-main {
    color: #28464E;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
        }

.user{
    color: #1E3D46;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    align-self: stretch;
}

.imagesmask {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
}

.right {
    display: flex;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 32px;
    background: var(--stroke-stroke-2, #E2E2E2);
    color:#FFF;
    width: 100%;
    height: 51px;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
}
.same{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid #0C9D7A;
    background: #FFF;
    padding: 0px 0px 0px 8px;
    
}

.please{
    color: #999;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}


.company, .input2, .input3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center;
    align-items:center; */
    gap: 6px;
    margin-top: 15px;
}

.inputlist_text {
    width: 100%;
    height: 20px;
    color: #9D9D9D;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.finish{
    padding-top: 15px;
    width:395px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 4px;
    color: #28464E;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
}

.finish1{
    display: flex;
    width: 395px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}
.linefinish{
    width: 395px;
height: 8px;
flex-shrink: 0;
border-radius: 30px 30px 30px 30px;
background: #FFF;
border: 1px solid #0C9D7A;
}

.linefinish2{
width: 120px;
height: 8px;
flex-shrink: 0;
border-radius: 30px 0px 0px 30px;
background: #00C3AD;
position: absolute;
}
.move{
    color: #28464E;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
}
.submitcenter{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
    padding-top: 130px;
    padding-bottom: 20px;

}
.submit1{
    background: rgba(40, 70, 78, 0.30);
    display: flex;
    flex-direction: column;
    width: 181px;
    height: 51px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    border-radius: 8px;
}
.finish1{
    display: flex;
    width: 395px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.move{
    color: #28464E;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
}

.submit2{
    display: flex;
width: 181px;
height: 51px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: rgba(40, 70, 78, 0.30);
color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 22px;
}

.totaluser{
    display: flex;
    width: 381px;
    height: 74px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #00C3AD;
    background: rgba(212, 237, 231, 0.15);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.name, .major{
    display: flex;
    width: 100%;
    align-items: center;
    flex-shrink: 0;
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}