.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  gap: 10px;

  @media (max-width: 430px) {
      align-items: start;
  }
  @media (min-width: 431px) {
      align-items: center;
  } 
  background-color: #FFF;
}


.pictureandsubmit{
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  width: 26.875rem; /* 430px */
  align-items: center;
  padding-bottom: 0.625rem; /* 10px */
}

.body {
  display: flex;
  width: 25rem; /* 400px */
  flex-direction: column;
  gap: 1.25rem; /* 20px */
}

.small_nav {
  width: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3.5rem; /* 56px */
}

.submit{
  display: flex;
  width: 150px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #D4EDE7;
  color: #1E3D46;
  font-family: Pretendard;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  position: absolute;
  transform: translate(5%, 340%);
  /* position: absolute;
  top: 22%;
  left: 33.5%; */
}

.submit1{
  display: flex;
  width: 150px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  color: #D4EDE7;
  background: #1E3D46;
  font-family: Pretendard;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  position: absolute;
  transform: translate(5%, 420%);
  /* position: absolute;
  top: 32%;
  left: 33.5%; */
}

.picture{
  display: flex;
  width: 430px;
  height: 270px;
  flex-shrink: 0;
  /* position: absolute; */
}

.textbig{
  width: 379px;
  height: 101px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Pretendard;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  position: absolute;
  transform: translate(5%, 10%);
  /* position: absolute;
  top: 2%;
  left: 33.5%; */
}

.row {
  display: flex;
  align-items: center;
}

.textsmall{
  width: 379px;
  height: 23px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  position: absolute;
  transform: translate(5%, 470%);
  /* position: absolute;
  top: 15%;
  left: 33.5%;
  padding: 13px 0px 0px 0px; */
}
.cheatkey{
  display: flex;
  width: 277px;
  height: 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 0px 15px 0px;
}
.cheatkeyimages{
  width: 44.5px;
  height: 44.5px;
  flex-shrink: 0;
}

.cheatkeymessage{
  color: #1E3D46;
font-feature-settings: 'clig' off, 'liga' off;
font-family: STHupo;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 128px;
flex-shrink: 0;
}

.ment1 {
  width: 414px;
  height: 73px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 23px;
  font-style: normal;
  font-weight: 160;
  line-height: 130%;
  letter-spacing: -0.575px;
}
.ment2{
  font-weight: 600;
  line-height: 180%;
}
.pictureee{
  display: flex;
  flex-direction: column;
  width:430px;
  gap: 17px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.picture1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.picture2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.picture3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.picture1_1{
  width: 150px;
height: 150px;
flex-shrink: 0;
}

.picture2_2{
  width: 150px;
height: 150px;
flex-shrink: 0;
}
.picture3_3{
  width: 150px;
height: 150px;
flex-shrink: 0;
}
.picture1_11,.picture2_21,.picture3_31{
  color: #359287;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 105% */
letter-spacing: -0.32px;
}
.picture1_12,.picture2_22,.picture3_32{
  color: #000;
font-family: Pretendard;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: 21px; /* 140% */
letter-spacing: -0.32px;
}


  .basemint{
    display: flex;
    flex-direction: column;
    width: 430px;
    background: #D4EDE7;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -1.5px;
    padding: 15px 0px;
  
  }
.sqare{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.sqare1{
  display: flex;
  width: 50px;
  height: 50px;
  padding: 0px 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #28464E;
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.step1,.step2,.step3{
  color: #000;
text-align: center;
font-family: Pretendard;
font-size: 10px;
font-style: normal;
font-weight: 300;
line-height: 15px; /* 125% */
letter-spacing: -0.32px;
flex-direction: column;
display: flex;
justify-content: center;
  align-items: center;
  width: 99px;
}
.sqare_1, .sqare_2, .sqare_3{
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.32px;
  padding-top: 12px;
}

.line{
  width: 40px;
  height: 1px;
  background: #28464E;
  margin-bottom: 70px;
}

.benefit{
  display: flex;
  flex-direction: column;
  width: 430px;
  align-items: center;
  justify-content: center;
}
.benefit1{
  color: #000;
  padding-top: 25px;
text-align: center;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 29.9px */
letter-spacing: -0.529px;
width: 343px;
height: 32px;
flex-shrink: 0;
}
.benefit2{
  color: #656565;
text-align: center;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 15.6px */
letter-spacing: -0.276px;
width: 343px;
height: 32px;
flex-shrink: 0;
padding-bottom: 35px;
}

.benefit3{
  width: 350px;
  height: 32px;
  flex-shrink: 0;
  color: #359287;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.345px;
}

.icon{
display: flex;
gap: 40px;
width: 330px;
flex-direction: column;
align-content: center;
color: #000;
font-family: Pretendard;
font-size: 40px;
font-style: normal;
font-weight: 200;
}
.icon1{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.icon1_1{
  display: flex;
  color: #000;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  text-align:left;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.68px;
  width: 300px;
  margin-left: 30px;
}
.icon1_2{
  display: flex;
  color: #000;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  text-align:left;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.68px;
  width: 300px;
  margin-left: 30px;
  margin-top: 10px;
}

.webname_bold {
  color: #1E3D46;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: STHupo;
  font-size: 1.875rem; /* 30px */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font_400 {
  color: #717171;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font_500 {
  color: #717171;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.font_200 {
  color: #717171;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

input:focus-visible {
  outline: none;
}