<h3>{{careerinfo.title}}</h3>
지원일 : {{careerinfo.startline}} - {{careerinfo.deadline}}
기업명 : {{careerinfo.company}}
분야: {{careerinfo.field}}
<p>
    {% for careerinfotag in careerinfo.careerinfotags.all %}
        <a href="{% url 'careers:careerinfotag-careerinfos' careerinfotag.id %}">#{{ careerinfotag.name }} </a>
    {% endfor %}
</p>
<hr/>

<form action="{% url 'careers:ci_bms' careerinfo.id %}" method="post">
    {% csrf_token %}
    {% if user in careerinfo.ci_bm.all %}
        <button type="submit">북마크 취소</button>
    {% else %}
        <button type="submit">북마크 추가</button>
    {% endif %}
    </form>

{{careerinfo.cibm_count}}개
{% if careerinfo.image %}
    <p><img src="{{ careerinfo.image.url }}" alt="사진" width="100px"></p>
{% endif %}
<p>{{careerinfo.content}}</p>
{% if careerinfo.writer == user %}
<a href="{% url 'careers:careerinfo-delete' careerinfo.id %}">삭제하기</a>
{% endif %}
<br>
