{% extends 'base.html' %} {% load static %} {% block content %}

<link
rel="stylesheet"
type="text/css"
href="{% static 'css/careers/edu_info.css'%}"
/>

<div class='container'>
    <div class="container2"> 

        <div class='imagesmask' style="padding-top: 48px;">
            <div class="left">
                <a href="{% url 'main:mainpage' %}">
                <img src="{% static 'images/arrow-24.png' %}" alt='but' width='32px'>
                </a>
            </div>
            <div class="right">
                <h2 class='signup-main'>커리어</h2>
            </div>
            <div style="width:36px;">
            </div>
        </div>
        

        <form method="GET" action="{% url 'careers:edu-info' %}">
            <div class="box">
                <input type="text" placeholder="기업, 직무, 커뮤니티 키워드로 검색" name="search" class="search" value="{{ search_query }}">
                <button type="submit" class='button'>
                    <img src="{% static 'images/search.png' %}" alt="">
                </button>
            </div>
        </form>

        <div class='topbar'>
            <a href="{% url 'careers:career-info' %}" class='topbar1'>채용 정보</a>
            <a href="{% url 'careers:career-program' %}" class='topbar2'>취업 프로그램</a>
            <a href="{% url 'careers:edu-info' %}" class='topbar3'>교육 정보</a>
        </div>

        <div class='midbar'>
            <div class='total'>총 {{ total_eduinfo_count }}건</div>
    
            <select class='new' name='order' id='order' onchange="location.href='?order=' + this.value;">
                <option value='latest' {% if selected_order == 'latest' %}selected{% endif %}>최신순</option>
                <option value='oldest' {% if selected_order == 'oldest' %}selected{% endif %}>오래된순</option>
            </select>
        </div>

        <div class='member'>
            {% for eduinfo in eduinfos %}
            <a href="{% url 'careers:eduinfo-detail' eduinfo.id %}" class='careerinfo'>
                <div class='title'>{{ eduinfo.title }}</div>
                <div class='careerinfo2'>
                    <div class='careerinfo3'>
                        <div class='company'> {{eduinfo.place}}</div>
                    
                        <div class='area'>{{eduinfo.field}}</div>

                    </div>
                    <div class='update'>{{eduinfo.startline}}~{{eduinfo.deadline}}</div>
                </div>
            </a>
            {% endfor %} 
        </div>

        <div class='superwrite'>
            {% if user.is_authenticated and user.is_superuser %}
            <a href="{% url 'careers:new-eduinfo' %}" width='17px' height='17px'>
                <img src="{% static 'images/realplus.png' %}" alt="">
            </a>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}