{% extends 'base_with_nav.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/careers/eduinfo_detail.css'%}"
/>

<div class="screen">
	<div class="main">
    <div class="body">
			<div class="nav">
				<div class="left" style="z-index: 1;">
					<a href="{% url 'careers:edu-info' %}">
            <img src="{% static 'images/arrow-24.png' %}" width='32px' height='32px'>
					</a>
				</div>
				<div><p class="color_28 title_text" style="text-align: center;">커리어</p></div>
				<div style="width: 32px;"></div>
			</div>
      <p class="color_black title_text2" style="padding-top: 16px;">{{ eduinfo.title }}</p>
      <div class="box">
        <div class="column" style="gap: 16px;">
          {% if eduinfo.image %}
            <img src="{{ eduinfo.image.url }}" alt="사진" width="100%">
          {% else %}
            <img src="{% static 'images/calendar.png' %}" alt="사진" width="100%">
          {% endif %}
          <div class="text_board">
            <div class="row1">
              <div class="row_100">
                <img src="{% static 'images/calendar.png' %}" width="20px" height="20px">
                <p>지원일</p>
              </div>
              <p>{{eduinfo.startline}} - {{eduinfo.deadline}}</p>
              <form action="{% url 'careers:ei_bms' eduinfo.id %}" method="post">
                {% csrf_token %}
                {% if user in eduinfo.ei_bm.all %}
                    <button type="submit"><img src="{% static 'images/filled_bookmark.png' %}" width="20px" height="20px"></button>
                {% else %}
                    <button type="submit"><img src="{% static 'images/unfilled_bookmark.png' %}" width="20px" height="20px"></button>
                {% endif %}
              </form>
            </div>
            <div class="row1">
              <div class="row_100">
                <img src="{% static 'images/location.png' %}" width="20px" height="20px">
                <p>장소</p>
              </div>
              <p>{{eduinfo.place}}</p>
              <div style="width: 20px;"></div>
            </div>
            <div class="row1">
              <div class="row_100">
                <img src="{% static 'images/book.png' %}" width="20px" height="20px">
                <p style="width: 31.145px;">분야</p>
              </div>
              <p>{{eduinfo.field}}</p>
              <div style="width: 20px;"></div>
            </div>
            <div class="context">
              <p class="color_17 context_text">내용</p>
              <p class="color61 context_text2">{{eduinfo.content}}</p>
            </div>
            <div style="width: 20px;"></div>
          </div>
        </div>
        {% for eduinfotag in eduinfo.eduinfotags.all %}
          <a href="{% url 'careers:eduinfotag-eduinfos' eduinfotag.id %}">#{{ eduinfotag.name }} </a>
        {% endfor %}
      </div>
      {% if not has_applied %}
        <form method="post" action="{% url 'careers:apply_eduinfo' eduinfo.id %}">
            {% csrf_token %}
            <button type="submit">지원하기</button>
        </form>
      {% else %}
        <form method="post" action="{% url 'careers:apply_eduinfo' eduinfo.id %}">
            {% csrf_token %}
            <button type="submit">지원 취소하기</button>
        </form>
      {% endif %}
      <div class="modalpopup_frame" id="modalpopup_frame" style="display: none;">
        <div class="modalpopup_body">
          <p class="mentor_card_name_font color_28" style="text-align: center;">작성한 내용은 멘토에게 바로 알림이 가며,</p>
          <div class="column" style="justify-content: center;">
            <img src="{% static 'images/complete_icon.png' %}" alt="">
            <p class="color_28 text3">지원이 완료되었습니다!</p>
            <p class="color_9D text4">커리어 신청 현황 화면으로 화면이 이동합니다.</p>
          </div>
        </div>
      </div>

      {% if eduinfo.writer == user %}
        <a href="{% url 'careers:eduinfo-delete' eduinfo.id %}">삭제하기</a>
      {% endif %}
		</div>
	</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    
  });
</script>



{% endblock %}


