<form action="{% url 'careers:careerinfo-create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>제목 : <input type="text" name="title"></p>
    <p>회사 : <input type="text" name="company"></p>
    <p>지역 : <input type="text" name="place"></p>
    <p>마감기한 : <input type="text" name="deadline"></p>
    <p>사진 : <input type="file" name="image"></p>
    <p>내용 : <textarea type="text" name="content" id="" cols="30" rows="10"></textarea></p>
    <button type="submit">제출</button>
</form>