{% if info.id %}
    <form action="{% url 'careers:create' info.id %}" method="post">
{% else %}
    <form action="{% url 'careers:create' %}" method="post">
{% endif %}
    {% csrf_token %}
    <p>제목 : <input type="text" name="title"></p>
    <p>작성자 : <input type="text" name="writer"></p>
    <p>지역 : <input type="text" name="location"></p>
    <p>내용 : <textarea type="text" name="body" id="" cols="30" rows="10"></textarea></p>
    <button type="submit">제출</button>
    <h1>메인 페이지</h1>
    <a href="{% url 'users:mypage' id=request.user.id %}">내 마이페이지로 이동</a>
</form>