/* eiapply - CSS */

.screen {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 0.625rem; /* 10px */

  @media (max-width: 430px) {
    align-items: start;
  }
  @media (min-width: 431px) {
    align-items: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 26.875rem; /* 430px */
  align-items: center;
  background-color: #FFF;
  padding-bottom: 0.625rem; /* 10px */
}

.body {
  display: flex;
  width: 25rem; /* 400px */
  flex-direction: column;
  gap: 2.5rem; /* 40px */
  align-items: center;
}

.nav {
  display: flex;
  width: 100%;
  height: 2rem; /* 32px */
  flex-direction: row;
  padding-top: 3.5rem; /* 56px */
  justify-content: space-between;
  align-items: center;
}
.active{
  display:flex;
  flex-direction: row;
  display: flex;
  width: 116.667px;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
.active3{
  color: #359287;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
align-content: center;
}
.active1{
  color: #D4EDE7;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}
.active2{
  color: #D4EDE7;
font-family: Pretendard;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}
.act3{
  display: flex;
  flex-direction: column;
  height: 36px;
  align-items: center;
  justify-content: space-between;
}
.line3{
  width: 110px;
height: 2px;
background: #359287;
}
.act1,.act2{
  display: flex;
  flex-direction: column;
  height: 36px;
  align-items: center;
  justify-content: space-between;
}
.line1,.line2{
  width: 110px;
height: 2px;
background: #D4EDE7;
}
.application{
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 74px;
  justify-content: space-evenly;
  gap:20px;
}
.detail{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.area{
  display: flex;
height: 15px;
padding: 6px 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
border: 1px solid #359287;
background: #FFF;
color: #656565;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 161.538% */
letter-spacing: -0.32px;
}
.areadate{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.date{
  color: #616161;
text-align: right;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 161.538% */
letter-spacing: -0.32px;
}
.place{
  color: #28464E;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 105% */
letter-spacing: -0.32px;
width: 300px;
height: 23px;
}
.title{
  color: #666;
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: -0.32px;
width: 250px;
}
.line{
  width: 360px;
height: 2px;
background: #EDEDED;
}
/* 폰트 설정 */

.title_text {
  font-family: "noto Sans KR";
  font-size: 1.5rem; /* 24px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



/* 색상 설정 */

.color_28 {
  color: #28464E;
}