.screen {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 0.625rem; /* 10px */

  @media (max-width: 430px) {
    align-items: start;
  }
  @media (min-width: 431px) {
    align-items: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 26.875rem; /* 430px */
  align-items: center;
  background-color: #FFF;
  padding-bottom: 0.625rem; /* 10px */
}

.body {
  display: flex;
  width: 25rem; /* 400px */
  flex-direction: column;
  gap: 2.5rem; /* 40px */
  align-items: center;
}

.nav {
  display: flex;
  width: 100%;
  height: 2rem; /* 32px */
  flex-direction: row;
  padding-top: 3.5rem; /* 56px */
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
}

.right {
  display: flex;
}

.signup-main {
  color: #28464E;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding-bottom: 30px;
}

.topbar1 {
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Pretendard";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: -0.32px;
  color: #359287;
  gap: 12px;
}

.line {
  width: 165px;
  height: 2px;
  background: #359287;
}

.topbar2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #D4EDE7;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}

.line2 {
  width: 165px;
  height: 2px;
  background: #d4ede7;
}

.mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 151px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 1px 5px 0px #359287;
  margin-bottom: 20px;
}
.date{
  color: #8A9699;
text-align: right;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.picture {
  display: flex;
  width: 348px;
  justify-content: space-between;
  align-items: center;
}
.username{
  color: #17363F;
font-family: Pretendard;
font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.major{
  color: #8E8E8E;
font-family: Pretendard;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 21px; /* 140% */
letter-spacing: -0.32px;
}
.usermajor {
  display: flex;
align-items: flex-start;
flex-direction: column;
gap: 6px;
}

.state {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px; /* 아이콘 간격 설정 */
  padding-top: 10px; /* 상단 패딩 설정 */
  padding-bottom: 10px; /* 하단 패딩 설정 */
}

.icon-container {
  text-align: center;
  
}

.icon {
  display: block;
  margin: 0 auto;
}

.icon-text {
  margin-top: 5px;
}
.userdate{
  display:flex;
  width: 280px;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 10px;
}
.green-text {
  color: #359287;
font-family: Pretendard;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.center{
  display: flex;
  width: 100%;
}
.title_text {
  font-family: "Pretendard";
  font-size: 24px; /* 1.5rem을 24px로 변경 */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #28464e;
}


input:focus-visible {
  outline: none;
}