{% extends 'base_with_nav.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/community/free_detail.css'%}"
/>

<div class="screen">
	<div class="main">
    <div class="body">
			<div class="nav">
				<div class="left" style="z-index: 1;">
					<a href="{% url 'community:free-board' %}">
            <img src="{% static 'images/arrow-24.png' %}" width='32px' height='32px'>
					</a>
				</div>
				<div><p class="color_28 title_text" style="text-align: center;">커뮤니티 작성</p></div>
				<div style="width: 32px;"></div>
			</div>
      <div class="row1">
        <p class="title_box color_FF title_text2">자유게시판</p>
        <div class="row">
          {% if free.writer == user %}
          <a href="{% url 'community:free-edit' free.id %}">글 수정하기</a>
          <a href="{% url 'community:free-delete' free.id %}">글 삭제하기</a>
          {% endif %}
        </div>
      </div>
      <div class="row1">
        <div class="row">
          <div style="width: 30px; font-size: 30px;">{{ free.emoji }}</div>
          <div class="column1">
            <p class="text_1 color_1E">{{ free.title }}</p>
          <p class="text_2 color_66">{{ free.writer.profile.user_name }}</p>
          </div>
        </div>
        <p class="text_3 color_66">
          {{ free.pub_date }}
        </p>
      </div>
      <p class="color_17 text_4">태그</p>
      <p class="color_65 text_5">
        {% for freetag in free.freetags.all %}
          <a href="{% url 'community:freetag-frees' freetag.id %}">#{{ freetag.freename }}</a>
        {% endfor %}
      </p>
      <p class="color_17 text_4">내용</p>
      <p class="color_61 text_5">{{ free.content }}</p>
      <p class="color_17 text_4">댓글</p>
      {% for freecomment in freecomments %}
      <p class="color_61 text_5 comment_box">{{freecomment.content}}</p>
      {% if user.is_authenticated and freecomment.writer == user %}
        <form action="{% url 'community:free-detail' free.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="delete_freecomment_id" value="{{ freecomment.id }}">
          <button type="submit">댓글 삭제</button>
        </form>
      {% endif %}
      {% endfor %}

      <div class="commnet_form row" style="position: fixed; bottom:10px;">
        {% if free.image %}
          <img src="{{ free.image.url }}" alt="사진" width="40px">
        {% else %}
          <img src="{% static 'images/logo.png' %}" width="40px">
        {% endif %}
        <form class="comment_box_2" action="{% url 'community:free-detail' free.id %}" method="POST">
          {% csrf_token %}
          <input type="text" size="40" name="content" placeholder="댓글 추가">
          <button class="btn_submit" type="submit" name="submit">
            <img src="{% static 'images/dm_icon.png' %}" width="40px" height="40px">
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}




<!-- <h3>{{free.title}}</h3>
작성자 : {{free.writer.profile.user_name}}
날짜 : {{free.pub_date}}
<p>
    {% for freetag in free.freetags.all %}
            <a href="{% url 'community:freetag-frees' freetag.id %}">#{{ freetag.freename }}</a>
    {% endfor %}
</p> -->


<!-- <hr/>
{% if free.image %}
    <p><img src="{{ free.image.url }}" alt="사진" width="100px"></p>
{% endif %}

<p>{{free.content}}</p>
<br>
{% if free.writer == user %}

<a href="{% url 'community:free-edit' free.id %}">글 수정하기</a>
<a href="{% url 'community:free-delete' free.id %}">글 삭제하기</a>
{% endif %}
<br> -->

<div class="comment_container">
    <div class="comment_form">
        <h2></h2>
        <form action="{% url 'community:free-detail' free.id %}" method="POST">
            {% csrf_token %}
            댓글 쓰기: <input type="text" name="content">
            <input type="submit" name="submit">
        </form>
    </div>
    <div class="comment_list">
        {% for freecomment in freecomments %}
        <hr>
        <h4>작성자 : {{freecomment.writer.profile.user_name}}</h4>
        <p>내용: {{freecomment.content}}</p>
        <p>{{freecomment.pub_date}}</p>
        {% if user.is_authenticated and freecomment.writer == user %}
            <form action="{% url 'community:free-detail' free.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="delete_freecomment_id" value="{{ freecomment.id }}">
                <button type="submit">댓글 삭제</button>
            </form>
        {% endif %}
        {% endfor %}
    </div>
</div>

