{% extends 'base_with_nav.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/community/new_free.css'%}"
/>

<form id="form" action="{% url 'community:move-update' move.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="screen">
    <div class="main">
      <div class="body">
        <div class="nav">
          <div class="left" style="z-index: 1;">
            <a href="{% url 'community:move-board' %}">
              <img src="{% static 'images/arrow-24.png' %}" width='32px' height='32px'>
            </a>
          </div>
          <p class="color_28 title_text" style="text-align: center;">커뮤니티 글 수정</p>
          <div style="width: 32px;"></div>
        </div>
        
        <div class="border1 row1">
          <p class="title_text2 color_00">게시판 구분</p>
          <div class="row">
            <p class="unselect_point">자유게시판</p>
            <p class="select_point">이직게시판</p>
          </div>
        </div>
        <div class="border2">
            <div class="row2">
              <div class="color_17 title_text2">이모지선택</div>
              <p class="color_DB">*</p>
            </div>
            <button class="btn_select" type="button" onclick="toggleEmojiDrawer()">
              <input style="font-size: 30px;" id="input" type="text" value="{{ move.emoji }}" placeholder="😀" size="1" readonly>
            </button>
            <div id="drawer" class="emoji-drawer hidden">
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😁</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😂</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🤩</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🤔</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😥</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😴</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🫠</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🤑</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😤</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😭</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🤯</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😱</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😇</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">👀</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🙏</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">💪</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">👍</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🙌</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🎉</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">✨</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">📢</div>
            </div>
            <input type="hidden " id="emoji" name="emoji"> <!-- 숨겨진 입력 필드 -->
          </div>
          <div class="row2 mar">
            <div class="color_17 title_text2">제목</div>
            <p class="color_DB">*</p>
          </div>
          <input class="mar bot_border" type="text" name="title" value="{{ move.title }}" placeholder="제목을 입력해주세요." required>
          <div class="row2 mar">
            <div class="color_17 title_text2">내용</div>
            <p class="color_DB">*</p>
          </div>
          <select class="mar bot_border" id="field" name="field" value="{{ move.field }}" placeholder="내용을 입력해주세요." required>
            <option value="인사/노무">인사/노무</option>
            <option value="IT개발/데이터">IT개발/데이터</option>
            <option value="디자인">디자인</option>
            <option value="영업/판매/무역">영업/판매/무역</option>
            <option value="상품/MD">상품/MD</option>
            <option value="서비스">서비스</option>
            <option value="생산">생산</option>
            <option value="의료">의료</option>
            <option value="건설/건축">건설/건축</option>
            <option value="연구/R&D">연구/R&D</option>
            <option value="교육">교육</option>
            <option value="금융/보험">금융/보험</option>
            <option value="미디어/스포츠">미디어/스포츠</option>
            <option value="기획">기획</option>
          </select>
          <div class="row2 mar">
            <div class="color_17 title_text2">분야</div>
            <p class="color_DB">*</p>
          </div>
          <input class="mar bot_border" id="content" name="content" value="{{ move.content }}" placeholder="내용을 입력해주세요." required></input>
          <div class="row2 mar">
            <div class="color_17 title_text2">태그</div>
            <p class="color_DB">*</p>
          </div>
          <input class='tag mar bot_border' type="text" name="ftcontent" value="{{ move.ftcontent }}" placeholder="#태그" required/>

        </div>
        <button id="btn_edit" type="button" class="btn_submit">수정완료</button>
      </div>
    </div>
    <div class="wrapping" id="wrapping"></div>
    <div class="toast" id="toast" style="align-items: center;">
      <img src="{% static 'images/complete.png' %}" width="90px" height="90px">
      <p class="color_28 title_text2">수정이 완료되었습니다.</p>
    </div>
  </div>
</form>  



<script>

  function toggleEmojiDrawer() {
    var drawer = document.getElementById('drawer');
    drawer.classList.toggle('hidden');
  }

  function addEmoji(emoji) {
    var input = document.getElementById('input');
    var hiddenEmojiInput = document.getElementById('emoji');
    input.value = emoji;
    hiddenEmojiInput.value = emoji;
    toggleEmojiDrawer();
  }

  function select_Emoji() {
    let drawer = document.getElementById('drawer');
  
    if (drawer.classList.contains('hidden')) {
      drawer.classList.remove('hidden');
    } else {
      drawer.classList.add('hidden');
    }
  }
  document.addEventListener("DOMContentLoaded", function() {
    const wrapping = document.getElementById("wrapping");
    const toast = document.getElementById("toast");
    const btn_edit = document.getElementById("btn_edit");
    const form = document.getElementById("form");

    wrapping.style.display = "none";
    toast.style.display = "none";

    btn_edit.onclick = function (event) {
      event.preventDefault();

      wrapping.style.display = "block";
      toast.style.display = "";
      setTimeout(function() {
        form.submit();
      }, 500);
    };


    let emojis = document.querySelectorAll('.emoji');
    emojis.forEach(emoji => {
      emoji.addEventListener('click', function() {
        addEmoji(emoji.innerHTML);
        document.getElementById('drawer').classList.add('hidden');
      });
    });

    document.getElementById('drawer').classList.add('hidden');
  });
</script>

{% endblock %}



<form action="{% url 'community:free-create' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <p>제목 : <input type="text" name="title"></p>
  <p>사진 : <input type="file" name="image"></p>
  <p>내용 : <textarea id="content" name="content" required></textarea><br><br>
  <button type="submit">제출</button>
</form>

<form action="{% url 'community:free-update' free.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="screen">
    <div class="main">
      <div class="body">
        <div class="nav">
          <div class="left" style="z-index: 1;">
            <a href="{% url 'community:free-board' %}">
              <img src="{% static 'images/arrow-24.png' %}" width='32px' height='32px'>
            </a>
          </div>
          <p class="color_28 title_text" style="text-align: center;">커뮤니티 작성</p>
          <div style="width: 32px;"></div>
        </div>
        <div class="border1 row1">
          <p class="title_text2 color_00">게시판 구분</p>
          <div class="row">
            <a class="select_point" href="{% url 'community:new-free' %}">자유게시판</a>
            <a href="{% url 'community:new-move' %}">이직게시판</a>
          </div>
        </div>
        

    <p>제목 : <input type="text" name="title" value="{{free.title}}"></p>
    {% if free.image %}
        <p><img src="{{ free.image.url }}" alt="사진" width="100px"></p>
    {% endif %}
    <p>사진 : <input type="file" name="image"></p>
    <!-- 나머지 변수들도 다 free. 이런식임 free.emoji/ free.freetag -->
    
    <p>내용 : <textarea type="text" name="content" id="" cols="30" rows="10">{{free.content}}</textarea></p>
    <button type="submit">제출</button>
</form>



<h2>수정중...</h2>
<form action="{% url 'community:move-update' move.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>제목 : <input type="text" name="title" value="{{move.title}}"></p>
    {% if move.image %}
        <p><img src="{{ move.image.url }}" alt="사진" width="100px"></p>
    {% endif %}
    <p>사진 : <input type="file" name="image"></p>
    
    <p>내용 : <textarea type="text" name="content" id="" cols="30" rows="10">{{move.content}}</textarea></p>
    <button type="submit">제출</button>
</form><!-- 나머지 변수들도 다 move. 이런식임 move.emoji/ move.movetag -->
    