<h2>수정중...</h2>
<form action="{% url 'community:move-update' move.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>제목 : <input type="text" name="title" value="{{move.title}}"></p>
    {% if move.image %}
        <p><img src="{{ move.image.url }}" alt="사진" width="100px"></p>
    {% endif %}
    <p>사진 : <input type="file" name="image"></p>
    
    <p>내용 : <textarea type="text" name="content" id="" cols="30" rows="10">{{move.content}}</textarea></p>
    <button type="submit">제출</button>
</form><!-- 나머지 변수들도 다 move. 이런식임 move.emoji/ move.movetag -->
    