{% extends 'base_with_nav.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/community/new_free.css'%}"
/>
<form action="{% url 'community:move-create' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="screen">
    <div class="main">
      <div class="body">
        <div class="nav">
          <div class="left" style="z-index: 1;">
            <a href="{% url 'community:move-board' %}">
              <img src="{% static 'images/arrow-24.png' %}" width='32px' height='32px'>
            </a>
          </div>
          <div><p class="color_28 title_text" style="text-align: center;">커뮤니티 작성</p></div>
          <div style="width: 32px;"></div>
        </div>
        <div class="border1 row1">
          <p class="title_text2 color_00">게시판 구분</p>
          <div class="row">
            <p class="select_move">자유게시판</p>
            <a href="{% url 'community:new-move' %}" class="select_move">이직게시판</a>
          </div>
        </div>
        <div class="border2">
            <div class="row2">
              <div class="color_17 title_text2">이모지선택</div>
              <p class="color_DB">*</p>
            </div>
            <button class="btn_select" type="button" onclick="toggleEmojiDrawer()">
              <input style="font-size: 30px;" id="input" type="text" placeholder="😀" size="1" readonly>
            </button>
            <div id="drawer" class="emoji-drawer hidden">
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😁</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😂</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🤩</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🤔</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😥</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😴</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🫠</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🤑</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😤</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😭</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🤯</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😱</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">😇</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">👀</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🙏</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">💪</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">👍</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🙌</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">🎉</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">✨</div>
              <div class="emoji" onclick="addEmoji(this.innerHTML)">📢</div>
            </div>
            <input type="hidden" id="emoji" name="emoji"> <!-- 숨겨진 입력 필드 -->
          </div>
          <div class="row2 mar">
            <div class="color_17 title_text2">제목</div>
            <p class="color_DB">*</p>
          </div>
          <input class="mar" type="text" name="title" placeholder="제목을 입력해주세요." required>
          <div class="row2 mar">
            <div class="color_17 title_text2">내용</div>
            <p class="color_DB">*</p>
          </div>
          <textarea class="mar" id="content" name="content" placeholder="내용을 입력해주세요." required></textarea>
          <div class="row2 mar">
            <div class="color_17 title_text2">태그</div>
            <p class="color_DB">*</p>
          </div>
          <input class='tag mar' type="text" name="mtcontent" placeholder="#태그" required/>

        </div>
        <button type="submit" class="btn_submit">작성완료</button>
      </div>
    </div>
  </div>
</form>  

<script>

function toggleEmojiDrawer() {
  var drawer = document.getElementById('drawer');
  drawer.classList.toggle('hidden');
}

function addEmoji(emoji) {
  var input = document.getElementById('input');
  var hiddenEmojiInput = document.getElementById('emoji');
  input.value = emoji;
  hiddenEmojiInput.value = emoji;
  toggleEmojiDrawer();
}

  function select_Emoji() {
    let drawer = document.getElementById('drawer');
  
    if (drawer.classList.contains('hidden')) {
      drawer.classList.remove('hidden');
    } else {
      drawer.classList.add('hidden');
    }
  }
  document.addEventListener("DOMContentLoaded", function() {
    let emojis = document.querySelectorAll('.emoji');
    emojis.forEach(emoji => {
      emoji.addEventListener('click', function() {
        addEmoji(emoji.innerHTML);
        document.getElementById('drawer').classList.add('hidden');
      });
    });

    document.getElementById('drawer').classList.add('hidden');
  });
</script>

{% endblock %}



<form action="{% url 'community:move-create' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <p>제목 : <input type="text" name="title"></p>
  <p>사진 : <input type="file" name="image"></p>
  <p>내용 : <textarea id="content" name="content" required></textarea><br><br>
  <button type="submit">제출</button>
</form>