{% extends 'base_with_nav.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/community/new_free.css'%}"
/>

<div class="screen">
	<div class="main">
    <div class="body">
			<div class="nav">
				<div class="left" style="z-index: 1;">
					<a href="{% url 'careers:career-info' %}">
            <img src="{% static 'images/arrow-24.png' %}" width='32px' height='32px'>
					</a>
				</div>
				<div><p class="color_28 title_text" style="text-align: center;">커뮤니티 작성</p></div>
				<div style="width: 32px;"></div>
			</div>
      <div class="border1 row1">
        <p class="title_text2 color_00">게시판 구분</p>
        <div class="row">
          <p class="select_free">자유게시판</p>
          <a href="{% url 'community:new-move' %}" class="select_move">이직게시판</a>
        </div>
      </div>
      <div class="border2">
        <div class="row2">
          <div class="color_17 title_text2">이모지선택</div>
          <p class="color_DB">*</p>
        </div>
        <button class="btn_select" onclick="select_emoji"></button>
      </div>
    </div>
  </div>
</div>






{% endblock %}



<form action="{% url 'community:free-create' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <p>제목 : <input type="text" name="title"></p>
  <p>사진 : <input type="file" name="image"></p>
  <p>내용 : <textarea id="content" name="content" required></textarea><br><br>
  <button type="submit">제출</button>
</form>