.container2{
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}
.inputlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin-bottom: 32px;
}
.container-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.signup-main {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  letter-spacing: -1px;
}

.line{
  width: 640px;
  height: 1px;
  background: #000;
}

.user{
  display: flex;
width: 150px;
height: 46px;
flex-direction: column;
justify-content: center;
color: #000;

/* B2-bold */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
letter-spacing: -1px;
}

.submit{
  display: flex;
  width: 340px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--stroke-stroke-2, #E2E2E2);
  margin-bottom: 12px;
  color: #FFF;
text-align: center;

/* Btn */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}
.word{
  display: flex;
  width: 340px;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin-bottom: 48px;
  margin-top: 12px;
}
.id{
  display: flex;
padding: 10px 20px;
justify-content: center;
align-items: flex-start;
align-self: stretch;
}
.ps{
  display: flex;
padding: 10px 20px;
justify-content: center;
align-items: flex-start;
align-self: stretch;
}
.ps2{
  display: flex;
padding: 10px 20px;
justify-content: center;
align-items: flex-start;
align-self: stretch;
margin-bottom: 32px;
}

.same{
  display: flex;
width: 340px;
height: 46px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
padding: 0px 1px 0px 11px;
border-radius: 4px;
border: 1px solid var(--stroke-stroke-1, #CCC);
}
.same2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 46px;
  gap: 8px;
  padding: 0px 1px 0px 11px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid var(--stroke-stroke-1, #CCC);
  }

.submit2{
  display: flex;
width: 340px;
padding: 16px 0px;
justify-content: center;
align-items: center;
border-radius: 4px;
border: 1px solid var(--point-main, #5E0080);
color: var(--point-main, #5E0080);
text-align: center;

/* Btn */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}
.please{
  color: #999;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
}
.frame33{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
}

.midbar {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.hrline {
  flex: 1;
  border: none;
  border-top: 1px solid #000;
}

.hrtext {
  margin: 0 10px; 
  white-space: nowrap;
}
.submit3{
  width: 80px;
  color: #808080;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.search{
  display: inline-flex;
align-items: flex-start;
gap: 15px;
}