.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  @media (max-width: 430px) {
      align-items: start;
  }
  @media (min-width: 431px) {
      align-items: center;
  } 
}
.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: 850px;
  background: #D4EDE7;
}
.inputlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 13px;
  width:400px;
}
.container-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 400px;
}
.signup-main {
  color: #28464E;
text-align: center;
font-family: "Noto Sans KR";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.line{
  width: 640px;
  height: 1px;
  background: #000;
}

.small_nav {
  display: flex;
  width: 100%;
  height: 2rem; /* 32px */
  padding-top: 3rem; /* 48px */
  flex-direction: row;
  justify-content: space-between;
}

.left {
  display: flex;
}

.right {
  display: flex;
}
.submit{
  display: inline-flex;
  width: 360px;
padding: 12px 0px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 30px;
border: 1px solid #000;
background: #E2E2E2;
color: #FFF;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}

.id{
  display: flex;
justify-content: center;
align-items: flex-start;
align-self: stretch;
border: 1px solid #0C9D7A;
background: #FFF;
border-radius: 10px;
}
.same{
display: flex;
height: 52px;
width: 100%;
flex-direction: column;
justify-content: center;
align-items: flex-start;
border-radius: 10px;
padding: 0rem 0.75rem;
}

.same::placeholder{
  display: flex;
  color: #9D9D9D;

  
  color: #9D9D9D;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  flex-shrink: 0;
}

.auto{ 
display:flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
width:100%;
padding: 0px 0px 0px 9px;
color: #282828;
font-family: "Noto Sans KR";
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 24px;
}
.ps{
  display: flex;
padding: 10px 20px;
justify-content: center;
align-items: flex-start;
align-self: stretch;
}
.ps2{
  display: flex;
padding: 10px 20px;
justify-content: center;
align-items: flex-start;
align-self: stretch;
margin-bottom: 32px;
}

.midbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  gap: 10px;
}

.line {
  flex-grow: 1;
  height: 1px;
  width:81px;
  background: #000;
}

.hrtext {
  white-space: nowrap;
  color: #1E3D46;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
  padding: 0 7px;
}

.submit3 {
  display: inline-flex;
  width: 360px;
padding: 12px 0px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 30px;
border: 1px solid #000;
background: #1E3D46;
color: #FFF;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}

.search{
  display: inline-flex;
align-items: flex-start;
gap: 2px;
}

