/* signup page - CSS */
    /* .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        @media (max-width: 1050px) {
            align-items: start;
        }
        @media (min-width: 1051px) {
            align-items: center;
        } 
    } */
    .line2{
      width: 640px;
  height: 1px;
  background: #E2E2E2;
  }
  .container2{
      display: flex;
      padding-top: 50px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      align-self: stretch;
  }
  .inputlist{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      margin-top: 32px;
  }
  .container-top{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
  }
  .signup-main {
      color: #000;
      text-align: right;
      font-family: Pretendard;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 114.286% */
      letter-spacing: -1px;
  }
  
  .line{
      width: 640px;
      height: 1px;
      background: #000;
  }
  
  .user{
      display: flex;
  width: 150px;
  height: 46px;
  flex-direction: column;
  justify-content: center;
  color: #000;
  
  /* B2-bold */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: -1px;
  }
  
  .submit{
      display: flex;
  width: 240px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--stroke-stroke-2, #E2E2E2);
  margin-bottom: 100px;
  margin-top: 32px;
  }
  .id{
      display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  }
  .ps{
      display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  }
  .ps2{
      display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 20px;
  }
  
  .same{
      display: flex;
      height: 46px;
      padding: 0px 1px 0px 11px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 4px;
      border: 1px solid var(--stroke-stroke-1, #CCC);
  }
  .same2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 46px;
      gap: 8px;
      padding: 0px 1px 0px 11px;
      flex: 1 0 0;
      border-radius: 4px;
      border: 1px solid var(--stroke-stroke-1, #CCC);
      }
  
  
  .please{
      color: #999;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  }
  .frame33{
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  }
  .realname1, .birth1, .phone1{
    display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  }

  .inputlist_text{
    color: #9D9D9D;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 106.667% */
  }
