{% extends 'base.html' %} {% block content %} {% load static %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/main_page.css'%}"
/>

<div class="screen">
  <div class="main">
    <div class="body">
      <div class="btn_list">
        <div class="btn_rec">
          <p>멘토</p>
          <p>동문선배가 다 모였다!<br>궁금한 기업에 대해<br>물어봐</p>
        </div>
        <div class="btn_rho">
          <p></p>

        </div>
        <div class="btn_cir"></div>
      </div>
      <div class="signup_list">
        <p style="text-align: center;">벌써 많은 동국인이<br>취트키와 함께하고 있어요!</p>
        <div class="signup_detail">
          <img src="" alt="">
          <p class="content"></p>
          <p class="count"></p>
        </div>
        <div class="signup_detail">
          <img src="" alt="">
          <p class="content"></p>
          <p class="count"></p>
        </div>
        <div class="signup_detail">
          <img src="" alt="">
          <p class="content"></p>
          <p class="count"></p>
        </div>
        <div class="signup_detail">
          <img src="" alt="">
          <p class="content"></p>
          <p class="count"></p>
        </div>
      </div>
      <div class="credit">
        <div class="webname"></div>
        <div class="maker"></div>
        <div class="instayoutube_icon"></div>
        <div class="copyright"></div>
      </div>
    </div>
  </div>
</div>









{% endblock %}