{% extends 'base.html' %} 
{% load static %}
{% block content %} 

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/mentor_ask.css'%}"
/>

<div class="screen">
  <div class="main">
    <div class="body">
      <div class="nav">
        <div class="left">
          <a>
            <img src="{% static 'images/arrow-24.png' %}" width='32px' height='32px'>
          </a>
        </div>
        <div class="color_28 title_text">
          멘토 정보
        </div>
        <div style="width: 32px;"></div>
      </div>
      <p class="color_28 title_text">멘토 프로필</p>
      <div class="mentor_card_wrap">
        <div class="mentor_card">
          <div class="mentor_card_comp_font color_00">
            {{mentor.mentor_company}}
          </div> 
          <div class="mentor_card_dept_font color_00">
            {{mentor.mentor_dept}}
          </div> 
          <div class="centering">
            {% if mentor.mentor_image %}
              <img class="circuling" src="{{ mentor.image.url }}" alt="">
            {% else %}
              <img class="circuling" src="{% static 'images/arrow-24.png' %}" width='75px' height='75px'>
            {% endif %}
            <div class="mentor_card_name_font color_00">
              {{mentor.mentor_name}}
            </div> 
            <div class="mentor_card_major_font color_00">
              {{mentor.mentor_major}}
            </div> 
            <div class="mentor_card_work_font color_9D">
              {{mentor.mentor_work}}
            </div>
          </div>
        </div>
      </div>
      <form class="gapping" action="{% url 'main:mentor-ask' %}" method="POST">
        {% csrf_token %}
        <p class="color_28 title_text">{{mentor.mentor_name}} 에게 멘토링 신청하기</p>
        <p class="color_00 context_text">커리어, 직무 고민에 대해 현직자에게 물어보세요!</p>
        <div class="text_box">
          <p class="color_28 context3">한 줄 요약은 간단하고 명확하게 작성해주세요.</p>
          <p class="color_82 context3">예시1 졸업까지 3개월 남지 않았는데, 대기업에 정말 입사하고 싶어요.<br>예시2 비전공자에서 개발자로 취업하는 성장 경로를 전수받고 싶습니다!</p>
        </div>
        <input type="text" id="context1" name="context1" placeholder="한 줄 요약">
        <label for="context1"></label>
        <div class="text_box">
          <p class="color_28 context3">내용은 구체적으로 작성해주세요.</p>
          <p class="color_82 context3"> ⋅ 멘토링 취지에서 어긋나거나 오해될 수 있는 질문은 하지 말아주세요.<br> ⋅ 동일한 질문을 여러 멘토에게 보내는 것은 지양하고 있어요.<br> ⋅ 사적인 개인정보는 작성하지 않는 것이 좋아요.<br> ⋅ 멘토가 직접 글을 확인하여 멘토링이 진행되오니 신경써서 작성해주세요.</p>
        </div>
        <input type="text" id="context2" name="context2" placeholder="내용 작성">
        <label for="context2"></label>
        <button type="submit" class="btn_men" id="btn_men">멘토링 보내기</button>
      </form>
    </div>
  </div>
</div> 

{% endblock %}