{% extends 'base_with_nav.html' %} 
{% load static %}
{% block content %} 

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/mentor_ask.css'%}"
/>


<div class="screen">
  <form id="form" class="main" action="{% url 'main:mentor-relation-create' mentor.id %}" method="POST">
    <div class="body" id="main">
      <div class="nav">
        <div class="left" style="z-index: 1;">
          <a href="{% url 'main:mentor-info' mentor.id %}">
            <img src="{% static 'images/arrow-24.png' %}" width='32px' height='32px'>
          </a>
        </div>
        <div></div>
        <div style="width: 32px;"></div>
      </div>
      <p class="color_28 title_text" style="text-align: center;">멘토링 신청</p>
      <p class="color_28 title_text2">멘토 프로필</p>
      <div class="mentor_card_wrap">
        <div class="mentor_card">
          <div class="mentor_card_comp_font color_00">
            {{mentor.mentor_company}}
          </div> 
          <div class="mentor_card_dept_font color_00">
            {{mentor.mentor_dept}}
          </div> 
          <div class="centering">
            {% if mentor.mentor_image %}
              <img class="circuling" src="{{ mentor.image.url }}" width="100px" height="100px">
            {% else %}
              <img class="circuling" src="{% static 'images/logo.png' %}" width='100px' height='100px'>
            {% endif %}
            <div class="mentor_card_name_font color_00">
              {{mentor.user.profile.user_name}}
            </div> 
            <div class="mentor_card_major_font color_00">
              {{mentor.user.profile.user_major}}
            </div> 
            <div class="mentor_card_work_font color_9D">
              {{mentor.mentor_work}}
            </div>
          </div>
        </div>
      </div>
      <div class="gapping">
        {% csrf_token %}
        <p class="color_28 title_text">{{mentor.user.profile.user_name}} 에게 멘토링 신청하기</p>
        <p class="color_00 context_text">커리어, 직무 고민에 대해 현직자에게 물어보세요!</p>
        <div class="text_box">
          <p class="color_28 context3">한 줄 요약은 간단하고 명확하게 작성해주세요.</p>
          <p class="color_82 context3">예시1 졸업까지 3개월 남지 않았는데, 대기업에 정말 입사하고 싶어요.<br>예시2 비전공자에서 개발자로 취업하는 성장 경로를 전수받고 싶습니다!</p>
        </div>
        <input type="text" id="context1" name="summary" placeholder="한 줄 요약" required>
        <label for="context1"></label>
        <div class="text_box">
          <p class="color_28 context3">내용은 구체적으로 작성해주세요.</p>
          <p class="color_82 context3"> ⋅ 멘토링 취지에서 어긋나거나 오해될 수 있는 질문은 하지 말아주세요.<br> ⋅ 동일한 질문을 여러 멘토에게 보내는 것은 지양하고 있어요.<br> ⋅ 사적인 개인정보는 작성하지 않는 것이 좋아요.<br> ⋅ 멘토가 직접 글을 확인하여 멘토링이 진행되오니 신경써서 작성해주세요.</p>
        </div>
        <input type="text" id="context2" name="content" placeholder="내용 작성" required>
        <label for="context2"></label>
        <button type="button" class="btn_men" id="btn_men" disabled>멘토링 보내기</button>
      </div>
    </div>
    <div class="modalpopup_frame" id="modalpopup_frame" style="display: none;">
      <div class="modalpopup_body">
        <p class="mentor_card_name_font color_28" style="text-align: center;">작성한 내용은 멘토에게 바로 알림이 가며,</p>
        <div class="row1" style="justify-content: center;">
          <p class="mentor_card_name_font color_00">승인직후</p>
          <p class="mentor_card_name_font color_28">프로필이 바로 공개됩니다.</p>
        </div>
        <p class="context_text color_9D">- 한 줄 요약과 내용에 오타가 없는지 확인하세요.<br>- 작성한 내용에 거짓, 비하에 대한 내용이 확인된다면<br>멘토에서 삭제됩니다.<br>- 동일한 내용에 대해 여러 멘토에게 보낸 것이 적발<br>될 경우 제한될 수 있습니다.</p>
        <div class="row2">
          <button type="button" class="modal_box1" id="modal_box1">다시 확인하기</button>
          <button type="button" class="modal_box2" id="modal_box2">신청하기</button>
        </div>
      </div>
    </div>
  </form>
  <div class="wrapping" id="wrapping"></div>
  <div class="wrapping2" id="wrapping2"></div>
  <div class="toast" id="toast" style="align-items: center;">
    <img src="{% static 'images/complete.png' %}" width="90px" height="90px">
    <p class="color_28 title_text2">멘토링 신청이 완료되었습니다.</p>
    <p class="color_9D title_text3">멘토링 신청 현황 화면으로 화면이 전환됩니다.</p>
  </div>
</div> 




<script>
  document.addEventListener("DOMContentLoaded", function() {
    const btn_modal = document.getElementById("btn_men");
    const modal = document.getElementById("modalpopup_frame");
    const btn_close = document.getElementById("modal_box1");
    const btn_ask = document.getElementById("modal_box2");
    const toast = document.getElementById("toast");
    const form = document.getElementById("form");
    const context1 = document.getElementById("context1");
    const context2 = document.getElementById("context2");
    const wrapping = document.getElementById("wrapping");
    const wrapping2 = document.getElementById("wrapping2");

    btn_modal.disabled = true;
    btn_modal.style.color = "black";
    btn_modal.style.backgroundColor = "#EBEBEB";
    wrapping.style.display = "none";
    modal.style.display = "none";
    wrapping2.style.display = "none";
    toast.style.display = "none";

    btn_modal.onclick = function () {
      modal.style.display = "block";
      wrapping.style.display = "block"
    };

    btn_close.onclick = function () {
      modal.style.display = "none";
      wrapping.style.display = "none";
    };

    function update_button() {
      if(context1.value.trim()!=='' && context2.value.trim()!=='') {
        btn_modal.disabled = false;
        btn_modal.style.color = "#ffffff";
        btn_modal.style.backgroundColor = "#28464E";
      } else {
        btn_modal.disabled = true;
        btn_modal.style.color = "black";
        btn_modal.style.backgroundColor = "#EBEBEB";
      }
    };

    btn_ask.onclick = function () {
      wrapping2.style.display = "block";
      modal.style.display = "none";
      toast.style.display = "";
      setTimeout(function() {
        form.submit();
        window.location.href = "{% url 'main:mentor-list' %}"
      }, 1500);
    }
   

    context1.addEventListener('input', update_button);
    context2.addEventListener('input', update_button);
  });
</script>

{% endblock %}