{% extends 'base_with_nav.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/mentor_enroll.css'%}"
/>

<div class='container'>
  <div class="container2"> 

    <div class='imagesmask' style="padding-top: 56px;">
      <div class="left" style="margin-left: 15px; z-index: 1;">
        <a href="{% url 'main:mentor-start' %}">
          <img src="{% static 'images/arrow-24.png' %}" alt='but' width='32px'>
        </a>
      </div>
      <div class="right" style="margin-top: 48px;">
        <h2 class='signup-main'>멘토 등록</h2>
      </div>
      <div style="width:32px;"></div>
    </div>

    <form id="form" action="{% url 'main:mentor-create' %}" method="POST", enctype="multipart/form-data">
      {% csrf_token %} 

      <div class='class1'>
        <div class='finish' id="finish_1_0" style="display: block;">
          <div class='finish1'>
            <div class='finish1_1'>멘토 등록 완성도</div><div class='finish1_2' id='finish1_2'>0%</div>
          </div>
          <div class='linefinish'><div class='linefinish1' id='linefinish_1_0'></div></div>
        </div>  

        <div class='finish' id="finish_1_30" style="display: none;">
          <div class='finish1'>
            <div class='finish1_1'>멘토 등록 완성도</div><div class='finish1_2' id='finish1_2'>30%</div>
          </div>
          <div class='linefinish'><div class='linefinish2' id='linefinish_1_30'></div></div>
        </div>  
        
        <div class='origin1'>기본 정보</div>
          <div class='totaluser'>
            {% if user.profile.user_profile %}
            <div class='photo'><p><img src="{{ user.profile.user_profile.url }}" alt="사진" width="170px" height='140px'></p></div>
            {% else %}
            <div class='photo'><p><img src="{% static 'images/logo.png' %}" alt="사진" width="170px" height='140px'></p></div>
            {% endif %}
            <div class='namemajor'>
              <div class='name'><p>{{ user.profile.user_name }}</p></div>
              <div class='major'><p>{{ user.profile.user_major }}</p></div>
            </div> 
          </div>

          <div class='inputlist'>
            <div class='company'>
              <p><label class='user' for="mentor_company">회사명</label><input class='same' placeholder="예시) 취트키" type="text" name="mentor_company" id="mentor_company" required></p>
            </div>
            <div class='input2'>
              <p><label class='user' for="mentor_dept">부서</label><input class='same' placeholder="예시) 커리어 UI/UX 디자인" type="text" name="mentor_dept" id="mentor_dept" required></p>
            </div>
            <div class='input3'>
              <p><label class='user' for="mentor_work">직무 유형</label>
                <select class='same' name='mentor_work' id='mentor_work' placeholder="상태를 선택하세요" required>
                <option value=''>--- 선택 ---</option>
                <option value='인사/노무'>인사/노무</option>
                <option value='IT개발/데이터'>IT개발/데이터</option>
                <option value='디자인'>디자인</option>
                <option value='영업/판매/무역'>영업/판매/무역</option>
                <option value='상품기획/MD'>상품기획/MD</option>
                <option value='서비스'>서비스</option>
                <option value='생산'>생산</option>
                <option value='의료'>의료</option>
                <option value='건설/건축'>건설/건축</option>
                <option value='연구/R&D'>연구/R&D</option>
                <option value='교육'>교육</option>
                <option value='금융/보험'>금융/보험</option>
                <option value='미디어/스포츠'>미디어/스포츠</option>
                <option value='교육'>교육</option>
              </select></p>
              <div class='inputlist_text'>본인의 직무와 가장 유사한 카테고리를 선택해주세요.</div>
            </div>
          </div>
            
          <div class='submitcenter'>
            <button class='submit1' type='button' id='prev1' disabled>이전</button>
            <button class='submit2' type='button' id='next1'>다음</button>
          </div>
        </div>
      </div>


      <div class='class2' style="display:none;">
        <div class='finish' id="finish_2_30" style="display: block;">
          <div class='finish1'>
            <div class='finish1_1'>멘토 등록 완성도</div><div class='finish1_2' id='finish1_2'>30%</div>
          </div>
          <div class='linefinish'><div class='linefinish2' id='linefinish_2_30'></div></div>
        </div>  

        <div class='finish' id="finish_2_60" style="display: none;">
          <div class='finish1'>
            <div class='finish1_1'>멘토 등록 완성도</div><div class='finish1_2_2' id='finish1_2'>60%</div>
          </div>
          <div class='linefinish'><div class='linefinish2_2' id='linefinish_2_60'></div></div>
        </div>  

        <div class='origin1'>멘토링 정보</div>

        <div class='inputlist'>
          <div class='write1'>
            <p><label class='user1' for="mentor_summary"></label><input class='same' placeholder="한 줄 소개" type="text" name="mentor_summary" id="mentor_summary" required></p>
            <div class='inputlist_text'>- 한 줄 소개로 어떠한 분야 멘토인지 알려주세요.<br>
              예시) 웹 개발, 대기업 취업 준비에 대해 궁금하시다면 잘 알려드릴 수 있습니다.</div>
          </div>
          <div class='write2'>
            <p><label class='user2' for="mentor_info"></label><textarea class='sameinfo' placeholder="멘토 소개" type="text" name="mentor_info" id="mentor_info" required></textarea></p>
            <div class='inputlist_text'> - 본인이 어떠한 멘토인지 보다 상세하게 알려주세요.<br>
              - 학교를 다니면서 취업을 준비하는 과정에서 멘티에게 도움이 될 수 있는 얘기를 작성해주세요.<br>
              - 회사를 다니면서 해당 직무에 대해 느낀점과 업무에 대해 작성해주세요.</div>
          </div>
          <div class='write3'>
            <p><label class='user3' for="mentor_career"></label><textarea class='same' placeholder="멘토 이력" type="text" name="mentor_career" id="mentor_career" required></textarea></p>
            <div class='inputlist_text'>예시) <br>
              2023. 03 ~  현재 : 삼성<br>
              2022.01 ~ 2022. 11 : 현대차 소프트웨어 서포터즈</div>
          </div>
          <div class='write4'>
            <p><label class='user4' for="mentor_certificate"></label><textarea class='same' placeholder="멘토 자격증/어학성적" type="text" name="mentor_certificate" id="mentor_certificate" required></textarea></p>
            <div class='inputlist_text'>예시) 토익 820점, 정보처리기사 등</div>
          </div>
        
        </div>
        <div class='submitcenter'>
          <button class='prev1' type='button' id='prev2'>이전</button>
          <button class='submit2' type='button' id='next2'>다음</button>
        </div>
      </div>


      <div class='class3' style="display:none;">
        <div class='finish' id="finish_3_60">
          <div class='finish1'>
            <div class='finish1_1'>멘토 등록 완성도</div><div class='finish1_2_2' id='finish1_2'>60%</div>
          </div>
          <div class='linefinish'><div class='linefinish2_2' id='linefinish_3_60'></div></div>
        </div>  

        <div class='finish' id="finish_3_100" style="display: none;">
          <div class='finish1'>
            <div class='finish1_1'>멘토 등록 완성도</div><div class='finish1_2_3' id='finish1_2'>100%</div>
          </div>
          <div class='linefinish'><div class='linefinish2_3' id='linefinish_3_100'></div></div>
        </div>  

        <div class='origin1'>멘토 확인</div>
        <div class='ment'>
          <div class='mainment'>멘토 확인을 위해 신분증과 명함/사원증 사진을 등록해주세요.</div>
          <div class='subment'>- 등록 가능한 파일 형식은 .jpg, .png 입니다.<br>
            - 얼굴이 잘 보이지 않거나, 해상도가 낮은 사진은 승인이 반려 될 수 있습니다.
          </div>
        </div>

        <div class='face1'>
          <p><label class='userphoto' for="image_1">신분증 사진</label>
          <div class='face2'>
            <input class='same3' type='file' name='image_1' id='image_1' required></p>
            <img class="plus" src="{% static 'images/plus.png' %}"><br>
            <div class='inputlist_text2'><div class='inputlist_text3'>신분증 이미지를 첨부해주세요.<br></div>선명하고 해상도 높은 사진으로 등록해주세요.<br>
          본인의 신분증 또는 운전면허증을 등록해주세요.</div>  
          </div>
        </div>
        <div class='face1'>
          <p><label class='userphoto' for="image_2">명함 사진</label>
          <div class='face2'>
            <input class='same3' type='file' name='image_2' id='image_2' required></p>
            <img class="plus" src="{% static 'images/plus.png' %}"><br>
            <div class='inputlist_text2'><div class='inputlist_text3'>명함 이미지를 첨부해주세요.<br></div>선명하고 해상도 높은 사진으로 등록해주세요.<br>
            본인의 신분증 또는 운전면허증을 등록해주세요.</div>  
          </div>
        </div>
        
        <div class='submitcenter'>
          <button class='prev2' type='button' id='prev3'>이전</button>
          <button class='submit2' type='button' id='submit_ha'>다음</button>
        </div>
      </div>

      <div class="modalpopup_frame" id="modalpopup_frame" style="display: none;">
        <div class="modalpopup_body">
          <p class="mentor_card_name_font color_28" style="text-align: center;">작성한 내용은 멘토 등록 내용 및 멘토 확인</p>
          <div class="row1" style="justify-content: center;">
            <p class="mentor_card_name_font color_00">승인직후</p>
            <p class="mentor_card_name_font color_28">프로필이 바로 공개됩니다.</p>
          </div>
          <p class="context_text color_9D">- 회사, 부서, 직급에는 가장 최근에 근무했던 정보를 작성해주세요.<br>- 작성한 내용에 거짓, 비하에 대한 내용이 확인된다면<br>멘토에서 삭제됩니다.<br>- 첨부한 이미지가 선명하지 않거나 해상도가 낮아 판<br>별이 불가한 경우 멘토 등록 승인이 반려 될 수 있음을<br>안내드립니다.</p>
          <div class="row2">
            <button type="button" class="modal_box1" id="modal_box1">다시 확인하기</button>
            <button type="button" class="modal_box2" id="modal_box2">신청하기</button>
          </div>
        </div>
      </div>

    </form>
    </div>
  </div>
  <div class="wrapping" id="wrapping"></div>
  <div class="wrapping2" id="wrapping2"></div>
  <div class="toast" id="toast" style="align-items: center;">
    <img src="{% static 'images/complete.png' %}" width="90px" height="90px">
    <p class="color_28 title_text2">멘토링 등록이 완료되었습니다.</p>
    <p class="color_9D title_text3">멘토 리스트 화면으로 화면이 전환됩니다.</p>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const class1 = document.querySelector('.class1');
    const class2 = document.querySelector('.class2');
    const class3 = document.querySelector('.class3');
    const modal = document.getElementById('modalpopup_frame');

    const prev1Button = document.getElementById('prev1');
    const next1Button = document.getElementById('next1');
    const prev2Button = document.getElementById('prev2');
    const next2Button = document.getElementById('next2');
    const prev3Button = document.getElementById('prev3');
    const submitButton = document.getElementById('submit_ha');
    const btn_close = document.getElementById("modal_box1");
    const btn_open = document.getElementById("modal_box2");

    const finish_1_0 = document.getElementById('finish_1_0');
    const finish_1_30 = document.getElementById('finish_1_30');
    const finish_2_30 = document.getElementById('finish_2_30');
    const finish_2_60 = document.getElementById('finish_2_60');
    const finish_3_60 = document.getElementById('finish_3_60');
    const finish_3_100 = document.getElementById('finish_3_100');

    const class1Inputs = class1.querySelectorAll('input, select');
    const class2Inputs = class2.querySelectorAll('input, textarea');
    const class3Inputs = class3.querySelectorAll('input');

    const wrapping = document.getElementById("wrapping");
    const wrapping2 = document.getElementById("wrapping2");
    const toast = document.getElementById("toast");

    const form = document.getElementById("form");

    wrapping.style.display = "none";
    modal.style.display = "none";
    wrapping2.style.display = "none";
    toast.style.display = "none";

    function validateInputs(inputs) {
      return Array.from(inputs).every(input => input.checkValidity());
    }

    function updateButtonState(inputs, button, finish, finishElement) {
    if (validateInputs(inputs)) {
      button.disabled = false;
      button.style.backgroundColor = "#28464E";
      button.style.color = "#ffffff";
      finish.style.display = "none"
      finishElement.style.display = 'block';
    } else {
      button.disabled = true;
      button.style.backgroundColor = "";
      button.style.color = "";
      finish.style.display = "block";
      finishElement.style.display = 'none';
    }
  }

  function handleInputChange() {
    updateButtonState(class1Inputs, next1Button, finish_1_0, finish_1_30);
    updateButtonState(class2Inputs, next2Button, finish_2_30, finish_2_60);
    updateButtonState(class3Inputs, submitButton, finish_3_60, finish_3_100);
  }

  class1Inputs.forEach(input => input.addEventListener('input', handleInputChange));
  class2Inputs.forEach(input => input.addEventListener('input', handleInputChange));
  class3Inputs.forEach(input => input.addEventListener('input', handleInputChange));



    next1Button.addEventListener('click', function() {
      class1.style.display = 'none';
      class2.style.display = 'block';
      class3.style.disabled = 'none';
      finish_1_0.style.display = 'none';
      finish_1_30.style.display = 'none';
      finish_2_30.style.display = 'block';
      finish_2_60.style.display = 'none';
      finish_3_60.style.display = 'none';
      finish_3_100.style.display = 'none';
    });

    next2Button.addEventListener('click', function() {
      class1.style.display = 'none';
      class2.style.display = 'none';
      class3.style.display = 'block';
      finish_1_0.style.display = 'none';
      finish_1_30.style.display = 'none';
      finish_2_30.style.display = 'none';
      finish_2_60.style.display = 'none';
      finish_3_60.style.display = 'block';
      finish_3_100.style.display = 'none';
    });

    prev3Button.addEventListener('click', function() {
      class1.style.display = 'none';
      class2.style.display = 'block';
      class3.style.disabled = 'none';
      finish_1_0.style.display = 'none';
      finish_1_30.style.display = 'none';
      finish_2_30.style.display = 'none';
      finish_2_60.style.display = 'block';
      finish_3_60.style.display = 'none';
      finish_3_100.style.display = 'none';
    });

    prev2Button.addEventListener('click', function() {
      class1.style.display = 'block';
      class2.style.display = 'none';
      class3.style.display = 'none';
      finish_1_0.style.display = 'none';
      finish_1_30.style.display = 'block';
      finish_2_30.style.display = 'none';
      finish_2_60.style.display = 'none';
      finish_3_60.style.display = 'none';
      finish_3_100.style.display = 'none';
    });

    submitButton.onclick = function () {
      modal.style.display = "block";
      wrapping.style.display = "block";
    };

    btn_close.onclick = function () {
      modal.style.display = "none";
      wrapping.style.display = "none";

    };
    
    btn_open.onclick = function () {
      wrapping2.style.display = "block";
      modal.style.display = "none";
      toast.style.display = "";
      setTimeout(function() {
        form.submit();
      }, 1500);
    }

  });
</script>

{% endblock %}