{% extends 'base.html' %} 
{% block content %} 
{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/mentor_info.css'%}"
/>


<form action="{% url 'main:mentor-info' mentor.id %}" method="post">
  {% csrf_token %}


</form>
<div class="container">
  <h1>멘토 정보</h1>
  <div class="mentor-profile">
    <h2>{{ mentor.mentor_company }}</h2>
    <p>{{ mentor.mentor_dept }}</p>
    <p>{{ mentor.mentor_work }}</p>
    <p>{{ mentor.mentor_intro }}</p>
    <p>{{ mentor.mentor_year }}</p>
    <p>{{ mentor.mentor_at }}</p>
  </div>
</div>


{% if error %}
<div style="color: red">{{ error }}</div>
{% endif %}
{% endblock %}