{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'main:mentor-create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>test_company : <input type="text" name="mentor_company" id=""></p>

    <p>test_부서 : <input type="text" name="mentor_dept"></p>
    <p>test_직무 : <input type="text" name="mentor_work"></p>
    <p>test_소개글 : <textarea type="text" name="mentor_intro"></textarea>
    <p>test_년차 : <input type="number" name="mentor_year"></p>

    <button type="submit">제출</button>
</form>

{% endblock %}