{% extends 'base.html' %} 
{% block content %} 
{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/mentor_start.css'%}"
/>


<form action="{% url 'main:mentor-start' %}" method="post">
  {% csrf_token %}


<div class="container">min</div>

<a href="{% url 'main:mentor-list' %}">
  <img src="{% static 'images/Mask group.png' %}" alt='but' width='20px' height='20px'>
</a>



{% if error %}
<div style="color: red">{{ error }}</div>
{% endif %}
{% endblock %}



